footer {
    background-color: var(--white);
    text-align: center;
    margin-top: 5em;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    list-style: none;
    padding: 20px;
}

    .container__img {
        height: 30px;
        width: 30px;
        margin-top: 1em;
    }

@media screen and (min-width: 400px) {
    footer {
        font-size: var( --mobile-font-text-size);
    }

    .container {
        width: 50vw;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        margin-top: 10rem;
    }

    .container {
        width: 30vh;
    }
}