footer {
    background-color: var(--white);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    list-style: none;
    padding: 20px;
}

    .container__img {
        height: 30px;
        width: 30px;
        margin-top: 1em;
    }