header {
    height: 45vh;
    background: no-repeat url('../../images/header-background/beautiful-shining-stars-night-sky.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.general_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    z-index: 2;
    text-shadow: var(--button-shadow);
}

.stars__absolute {
    position: absolute;
}

.stars__sun {
    height: 300px;
    width: 300px;
    top: -20vw;
    left: -45vw;
}

.stars__milky-way{
    width: 90vw;
    height: 45vh;
    left: 1rem;
    top: 2rem;
    position: relative;
}

    .stars__mercury {
        height: 10px;
        width: 10px;
        top: 48%;
        left: 16%;
    }

    .stars__venus,
    .stars__mars {
        height: 12px;
        width: 12px;
    }

    .stars__venus {
        top: 50%;
        left: 22%;
    }

    .stars__earth {
        height: auto;
        width: 15px;
        top: 52%;
        left: 30%;
    }

    .stars__mars {
        top: 50%;
        left: 36%;
    }

    .stars__jupiter {
        height: 50px;
        width: 50px;
        top: 56%;
        left: 42%;
    }

    .stars__saturn {
        height: 35px;
        width: auto;
        top: 48%;
        left: 58%;
    }

    .stars__uranus {
        height: 30px;
        width: 30px;
        top: 46%;
        left: 76%;
    }

    .stars__neptune {
        height: 20px;
        width: 20px;
        top: 50%;
        left: 90%;
    }

.sustain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--primary-color);
    width: 215px;
    height: 45px;
    color: var(--white);
    border: none;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: var(--button-shadow);
    padding: 10px;
    transition: 0.25s;		
}

    .sustain__icon {
        height: 30px;
        width: 30px;
    }

    .sustain__text {
        font-size: 18px;
    }

/*sustain hovered */
.sustain::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    height: 100%;
    opacity: 0.2;
    background-color: var(--white);
    border-radius: 10px;
    transition: 0.25s;
}

.sustain:hover::after {
    width: 100%;
}

@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-around;
        height: 30vh;
    }

    .general_title {
        margin-top: 5vh;
    }

    header h1 {
        width: 40vw;
    }

    .stars__sun {
        top: -5vh;
        left: -15vw;
    }
    .stars__milky-way{
        width: 50vw;
        height: 30vh;
        top: -4rem;
        left: 5rem;
    }
}