header {
    height: 45vh;
    background: no-repeat url('../../images/header-background/beautiful-shining-stars-night-sky.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.general_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    z-index: 2;
    text-shadow: var(--button-shadow);
}

.stars__absolute {
    position: absolute;
}

.stars__sun {
    height: 300px;
    width: 300px;
    top: -20vw;
    left: -45vw;
}

.stars__milky-way{
    width: 90vw;
    height: 45vh;
    left: 1rem;
    top: 2rem;
    position: relative;
}

    .stars__mercury {
        height: 10px;
        width: 10px;
        top: 48%;
        left: 16%;
    }

    .stars__venus,
    .stars__mars {
        height: 12px;
        width: 12px;
    }

    .stars__venus {
        top: 50%;
        left: 22%;
    }

    .stars__earth {
        height: auto;
        width: 15px;
        top: 52%;
        left: 30%;
    }

    .stars__mars {
        top: 50%;
        left: 36%;
    }

    .stars__jupiter {
        height: 50px;
        width: 50px;
        top: 56%;
        left: 42%;
    }

    .stars__saturn {
        height: 35px;
        width: auto;
        top: 48%;
        left: 58%;
    }

    .stars__uranus {
        height: 30px;
        width: 30px;
        top: 46%;
        left: 76%;
    }

    .stars__neptune {
        height: 20px;
        width: 20px;
        top: 50%;
        left: 90%;
    }

.sustain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--primary-color);
    width: 215px;
    height: 45px;
    color: var(--white);
    border: none;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: var(--button-shadow);
    padding: 10px;
    transition: 0.25s;		
}

    .sustain__icon {
        height: 30px;
        width: 30px;
    }

    .sustain__text {
        font-size: 18px;
    }

/*sustain hovered */
.sustain::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    height: 100%;
    opacity: 0.2;
    background-color: var(--white);
    border-radius: 10px;
    transition: 0.25s;
}

.sustain:hover::after {
    width: 100%;
}

/* Format tablet */
@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-around;
        height: 30vh;
    }

    .general_title {
        margin-top: 5vh;
    }

    header h1 {
        width: 40vw;
    }

    .stars__sun {
        top: -5vh;
        left: -15vw;
    }
    .stars__milky-way{
        width: 50vw;
        height: 30vh;
        top: -4rem;
        left: 5rem;
    }
}

/* Format desktop */
@media screen and (min-width: 1200px) {
    header {
        height: 70vh;
    }

    .stars__sun {
        top: 15vh;
        left: 25vw;
        z-index: 2;
    }

    .stars__desktop {
        position: absolute;
        left: 0px;
        top: 0px;
        transform: scaleX(0.33);
    }
    
    /* Rotate Mercury */
    .stars__mercury-deform  {
        width: 75px;
        height: 75px;
        transform: scaleX(3);
        position: absolute;
        top: 40%;
        left: 41.5%;
        border-radius: 50%;
        animation: index 30s linear infinite;
    }
    
    .stars__mercury-rotate {
        width: 100%;
        height: 100%;
        animation: circleR 30s infinite linear;
        transform-origin: 50% 50%;
    }
    
    .stars__mercury-counterrotate {
        width: 10px;
        height: 10px;
        animation: ccircle 30s infinite linear;    
    }

    /* Rotate Venus */
    .stars__venus-deform  {
        width: 85px;
        height: 85px;
        transform: scaleX(3);
        position: absolute;
        top: 38.5%;
        left: 41%;
        border-radius: 50%;
        animation: index 34s linear infinite;
    }
    
    .stars__venus-rotate {
        width: 100%;
        height: 100%;
        animation: circleR 34s infinite linear;    
        transform-origin: 50% 50%;
    }
    
    .stars__venus-counterrotate {
        width: 12px;
        height: 12px;
        animation: ccircle 34s infinite linear;    
    }

    /* Rotate Earth */
    .stars__earth-deform  {
        width: 100px;
        height: 100px;
        transform: scaleX(3);
        position: absolute;
        top: 36%;
        left: 40%;
        border-radius: 50%;
        animation: index 38s linear infinite;
    }
    
    .stars__earth-rotate {
        width: 100%;
        height: 100%;
        animation: circleR 38s infinite linear;    
        transform-origin: 50% 50%;
    }
    
    .stars__earth-counterrotate {
        height: auto;
        width: 15px;
        animation: ccircle 38s infinite linear;    
    }

    /* Rotate Mars */
    .stars__mars-deform  {
        width: 120px;
        height: 120px;
        transform: scaleX(3);
        position: absolute;
        top: 34%;
        left: 39%;
        border-radius: 50%;
        animation: index 42s linear infinite;
    }
    
    .stars__mars-rotate {
        width: 100%;
        height: 100%;
        animation: circleR 42s infinite linear;    
        transform-origin: 50% 50%;
    }
    
    .stars__mars-counterrotate {
        height: 12px;
        width: 12px;
        animation: ccircle 42s infinite linear;    
    }

    /* Rotate Jupiter */
    .stars__jupiter-deform  {
        width: 200px;
        height: 200px;
        transform: scaleX(3);
        position: absolute;
        top: 28%;
        left: 36%;
        border-radius: 50%;
        animation: index 50s linear infinite;
    }
    
    .stars__jupiter-rotate {
        width: 100%;
        height: 100%;
        animation: circleR 50s infinite linear;    
        transform-origin: 50% 50%;
    }
    
    .stars__jupiter-counterrotate {
        height: 50px;
        width: 50px;
        animation: ccircle 50s infinite linear;    
    }


    /* Rotate Saturn */
    .stars__saturn-deform  {
        width: 250px;
        height: 250px;
        transform: scaleX(3);
        position: absolute;
        top: 26%;
        left: 32%;
        border-radius: 50%;
        animation: index 54s linear infinite;
    }
    
    .stars__saturn-rotate {
        width: 100%;
        height: 100%;
        animation: circleR 54s infinite linear;    
        transform-origin: 50% 50%;
    }
    
    .stars__saturn-counterrotate {
        height: 35px;
        width: 50px;
        animation: ccircle 54s infinite linear;    
    }

    /* Rotate Uranus */
    .stars__uranus-deform  {
        width: 280px;
        height: 280px;
        transform: scaleX(3);
        position: absolute;
        top: 24%;
        left: 32%;
        border-radius: 50%;
        animation: index 58s linear infinite;
    }
    
    .stars__uranus-rotate {
        width: 100%;
        height: 100%;
        animation: circleR 58s infinite linear;    
        transform-origin: 50% 50%;
    }
    
    .stars__uranus-counterrotate {
        height: 30px;
        width: 30px;
        animation: ccircle 58s infinite linear;    
    }


    /* Rotate Neptun */
    .stars__neptune-deform  {
        width: 320px;
        height: 320px;
        transform: scaleX(3);
        position: absolute;
        top: 22%;
        left: 30%;
        border-radius: 50%;
        animation: index 62s linear infinite;
    }
    
    .stars__neptune-rotate {
        width: 100%;
        height: 100%;
        animation: circleR 62s infinite linear;    
        transform-origin: 50% 50%;
    }
    
    .stars__neptune-counterrotate {
        height: 30px;
        width: 30px;
        animation: ccircle 62s infinite linear;    
    }
        

    /* @keyframes animation planet  */
    @keyframes circleR {
        0% {transform: rotateZ(90deg)}
        100% {transform: rotateZ(450deg)}
    }
    
    @keyframes ccircle {
        0% {transform: rotateZ(450deg)}
        100% {transform: rotateZ(90deg)}
    }
    
    @keyframes index {
        30% {z-index: 3;}
    }

}