nav,
nav h2 {
    margin: 1rem;
    margin-top: 3rem;
}

.navbar__icon {
    height: 50px;
    width: 50px;
}

.nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 20vh;
    width: auto;
}

    .nav__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 20px;
        padding: 52px;
        box-shadow: var(--button-shadow);
        height: 104px;
        width: 104px;
        text-align: center;
        background-color: var(--white);
    }
    
/* section */   
section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

    .section__text {
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }

    .section__title {
        text-align: center;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .section__img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 275px;
    }

    .section__img-add{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background-color: var(--primary-color);
        opacity: 0.6;
        box-shadow: var(--button-shadow);
        transition: all 0.3s ease-in-out;
    }

    .section__img-add img {
        height: 35px;
        width: 35px;
        transition: all 0.3s ease-in-out;
    }

    .section__img-add p {
        display: none;
        color: var(--white);
        font-size: 16px;
    }

/* section hovered */
    .section__img-add:hover {
        width: 215px;
        border-radius: 10px;
        opacity: 1;
    }

    .section__img-add:hover img {
        height: 0;
        width: 0;
    }

    .section__img-add:hover p {
        display: block;
    }

/* section images */
#observe__img {
    background: no-repeat url('../../images/illustration/les-nuits-des-etoiles-grand-rendez-vous-astronomique-veut-voir-plus-loin.jpg');
    background-size: cover;
}

#initiation__img {
    background: no-repeat url('../../images/illustration/stelescopes_MG_2232.jpg');
    background-size: cover;
}

#school__img {
    background: no-repeat url('../../images/illustration/3W2A9203.JPG');
    background-size: cover;
}

/* Section forms */
#asked {
    height: 200px;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--white);
    width: 100%;
}

.formular {
    margin: 0;
}

@media screen and (min-width: 600px) {
    nav h2 {
        display: flex;
        justify-content: center;
    }

    .nav {
        justify-content: center;
        font-size: var( --mobile-font-text-size);
    }

    .section__img{
        height: 500px;
    }
        .section__img-add{
            height: 80px;
            width: 80px;
        }

        .section__img-add:hover {
            width: 342px;
        }
}

@media screen and (min-width: 1200px) {

    section {
        margin-bottom: 10rem;
    }
        .section__img{
            height: 800px;
        }
}